# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
#.idea/

# 1. .idea フォルダ自体は無視するが、その「中身の探索」は許可する
.idea/*
# 2. ただし、中にある特定のフォルダは無視しないように「特例」を出す
!.idea/dictionaries/
# 3. その中にある目的のファイルを許可する（※ディレクトリが許可されていればこれは自動で通ることも多い）
!.idea/dictionaries/project_dic.xml

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Google Map API
Environment.swift
